langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
pdfplumber
camelot-py
unstructured
transformers
torch
streamlit
requests
pillow
pymupdf
pdf2image
pytesseract
pandas
sentencepiece
protobuf
python-dotenv
opencv-python
